#copy {
  font-size: 10px;
}

header{
  text-align: center;
  background-color: green;
  color: white;
  img{
    margin-left: 25px;
    margin-top: 7px;
    float: left;
    height: 30px;
  }
  h1{
    margin-top: 0px;
  }
  a{
    width: 100%;
  }
}

.noRad{
  border-radius: 0px;
}
.noRight{
  padding-right: 0;
}

.noLeft{
  padding-left: 0;
}

.entry{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
