<div class="entry">
  <h1>{{pitch.title}}</h1>
  <h3>From the mind of: {{pitch.author}}</h3>
  <p>{{pitch.content}}</p>
  <p>{{pitch.needs}}</p>
  <div ng-if="pitch.comments.length > 0">
    <p> Comments:</p>
    <div ng-repeat="comment in pitch.comments">
    <div class="entry">
      <h5><b> Name: </b>{{comment.name}}</h5>
      <p>{{comment.text}}</p>
    </div>
    </div>
  </div>
  <a href="" class="btn btn-primary" ng-init="count=0" ng-click="count=count+1">Comment</a>
  <form ng-if="count %2 !=0" ng-submit="action({pitch: pitch, comment: comment })">
    <input type="name" class="form-control" ng-model=comment.name placeholder="Your Name" value="">
    <input type="name" class="form-control" ng-model=comment.text placeholder="Your Comment" value="">
    <input type="submit" class="form-control" value="submit" name="submit">
  </form>
</div>
